{{#each this}}
  <div data-key='{{@key}}'>
    <div><b>{{name}}</b></div>
    <div>{{gender}}</div>
    <div>{{age}}</div>
    <div>{{#each skills}} {{this}}{{/each}}</div>
    <button type="button" id="deleteButton">Delete</button>
  </div>
  
{{/each}}